
$primary-color: #1066DD;
$secondary-color: #06215c;
$gradient1:#1D41B3;
$gradient2:#207DD9;
$gradient-color: linear-gradient(to right,  $gradient1,  $gradient2);
$box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
$btn-red-color: #DF102A;