
.let-me-in{
    background: $btn-red-color;
    color: #fff;
    font-weight: bold;
    padding: 4px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.features-button{
    background: $primary-color;
    color: #fff;
    font-weight: bold;
    padding: 4px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}