<div class="container-fluid banner">
    <div class="row p25">
        <div class="col-sm-3">
            <img src="../../../assets/images/logo.JPG" alt="" width="200">
        </div>
        <div class="col-sm-9">
            <ul class="top-menu">
                <li>
                    <a href="">{{'menu.home' | translate}}</a>
                </li>
                <li>
                    <a href="">{{'menu.hiw' | translate}}</a>
                </li>
                <li>
                    <a href="">{{'menu.contact' | translate}}</a>
                </li>
                <li>
                    <a href="">{{'menu.logReg' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="banner-content">
                <p class="boost">Boost Your <span class="youtube-text">YouTube</span> <br> CHANNEL'S Growth Today!</p>
                <p class="paragraph"><span>{{'para1' | translate}}</span> <br> <span>{{'para2' | translate}}</span></p>
                <button class="let-me-in-button">{{'letmein' | translate}}</button>
            </div>
        </div>
        <div class="col-sm-5">  
            <img class="rocket" src="../../../assets/images/rocket.png" alt="" >
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-50">
        <div class="col-sm-4 flex-center"> 
            <div class="icon-box">
                <i class="fa fa-power-off icon-round icon-blue"></i>
                <p class="icon-text">{{'signupLogin' | translate}}</p>
            </div>
        </div>
        <div class="col-sm-4 flex-center pos-up">
            <div class="icon-box bg-blue">
                <p class="icon-p-top">{{'simpletouse' | translate}}</p>
                <i class="fa fa-plus icon-round icon-white"></i>
                <p class="icon-text-white">{{'activateplan' | translate}}</p>
            </div>
        </div>
        <div class="col-sm-4 flex-center">
            <div class="icon-box">
                <i class="fa fa-line-chart icon-round icon-blue"></i>
                <p class="icon-text">{{'watchChannel' | translate}}<b>{{'grow' | translate}}</b></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 flex-center">
            <button class="let-me-in-button">{{'letmein' | translate}}</button>      
        </div>
    </div>

    <div class="row features-block">
        <div class="col-sm-12 flex-center">
            <button class="features-button">{{'featuresBenefit' | translate}}</button>
        </div>
        <div class="col-sm-4 flex-center"> 
            <div class="icon-box-features">
                <i class="fa fa-power-off icon-features"></i>
                <p class="icon-heading"><b>{{'freeToUse' | translate}}</b></p>
                <p class="icon-subheading">{{'freeToUsePara' | translate}}</p>
            </div>
        </div>
        <div class="col-sm-4 flex-center">
            <div class="icon-box-features">
                <i class="fa fa-youtube-play icon-features"></i>
                <p class="icon-heading"><b>{{'youtubeCommunity' | translate}}</b></p>
                <p class="icon-subheading">{{'youtubeCommunityPara' | translate}}</p>
            </div>
        </div>
        <div class="col-sm-4 flex-center">
            <div class="icon-box-features">
                <i class="fa fa-line-chart icon-features"></i>
                <p class="icon-heading"><b>{{'friendlySupport' | translate}}</b></p>
                <p class="icon-subheading">{{'friendlySupportPara' | translate}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 flex-center">
            <button class="let-me-in-button">{{'freeSubscription' | translate}}</button>      
        </div>
    </div>
</div>